* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
}
.closeBtn i {
    font-size: 36px;
    cursor: pointer;
}
nav {
    transform: translateY(-100%);
}
nav.open {
    transform: translateY(0);
}
.hero-section  .container {
    min-height: calc(100vh - 50px);
    margin-top: 50px;
}
@media (max-width: 768px) {
    .text .name {
        margin-right: auto;
        margin-left: auto;
    }
}
.skills .container,
.projects .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 10px;
}
.quck::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    bottom: -24px;
}
.quck::after {
    content: "or";
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 0 10px;
    background-color: #fff;
    bottom: -36px;
    left: 50%;
    transform: translateX(-50%);
    color: #ddd;
}
