* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.closeBtn {
    font-size: 50px;
    cursor: pointer;
}
nav {
    transform: translateY(-100%);
}
nav.open {
    transform: translateY(0);
}
.hero-section  .container {
    min-height: calc(100vh - 50px);
    margin-top: 50px;
}
@media (max-width: 768px) {
    .text .name {
        margin-right: auto;
        margin-left: auto;
    }
}
