* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.navagation {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.4s ease;
}
.navagation ul {
    width: 100%;
}
.navagation li {
    width: 100%;
    padding: 10px;
    font-size: 22px;
    font-weight: 500;
    transition: 300ms;
}
.navagation li a {
    display: flex;
    align-items: center;
}
.navagation li i {
    margin-right: 10px;
    font-size: 22px;
}
.navagation button {
    position: absolute;
    top: 20px;
    right: 20px;
}
.navagation.open {
    transform: translateY(0);
}