* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
}
.closeBtn i {
    font-size: 36px;
    cursor: pointer;
}
nav {
    transform: translateY(-100%);
}
nav.open {
    transform: translateY(0);
}
.hero-section  .container{
    min-height: calc(100vh - 50px);
    margin-top: 50px;
}
.projects-section .container {
    margin-top: 50px;
}
@media (max-width: 768px) {
    .text .name {
        margin-right: auto;
        margin-left: auto;
    }
}
.skills .container,
.projects .container,
.projects-section .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
}
